html,body {
width:100%;
height:100%
}

body {
background:url(/images/patternhead61b-thumb.png) repeat
}

a,a:hover,a:focus {
text-decoration:none;
outline:0 none
}

.holder {
width:100%;
height:100%;
margin:0;
position:relative;
background:rgba(243,137,137,0.9);
overflow:hidden
}

.wrap {
width:50%;
height:550px;
background-color:#fff;
position:relative;
margin:6% auto;
border:solid 1px #A64747;
transition:all .8s ease
}

.splash {
width:100%;
height:100%;
display:block;
position:relative;
background-color:#CF5757;
overflow:hidden;
-moz-animation-duration:2s;
-webkit-animation-duration:2s
}

.splash .splash-image {
text-align:center;
margin:120px auto 45px;
display:block;
-moz-animation-delay:1s;
-webkit-animation-delay:1s
}

.splash .splash-image.fadeOut,.splash .splash-btn.fadeOut {
-moz-animation-delay:0;
-webkit-animation-delay:0;
-webkit-animation-duration:1s
}

.splash-btn {
width:100%;
text-align:center;
-moz-animation-delay:2s;
-webkit-animation-delay:2s;
margin:20px auto
}

.btn-start {
background-color:#8C3131;
color:#fff;
text-transform:uppercase;
border:solid 1px transparent
}

.btn-start:hover,.btn-start:focus {
background-color:#DB1A1A;
color:#fff;
border:solid 1px #8C3131
}

.splash-btn.pulse {
-moz-animation-delay:.2s;
-webkit-animation-delay:.2s
}

.splash-exit {
transition:height .8s ease;
height:0;
margin:0 auto
}

.wrap .content {
overflow:hidden;
position:relative;
height:100%;
width:100%
}

.content .header {
background-color:#CF5757;
height:0;
width:100%;
position:relative;
z-index:2
}

.content .header.go {
height:50px;
border-bottom:solid 1px #8C3131;
transition:height .8s ease;
-moz-animation-delay:1s;
-webkit-animation-delay:1s
}

.content .header .brand {
text-align:center
}

.content .header .brand span {
color:#fff;
font-weight:700;
font-size:20px;
padding:12px 0;
display:inline-block
}

.content .header .brand img {
margin:-11px 4px 0;
display:inline-block
}

.content .chat-box {
height:450px;
overflow-x:hidden;
overflow-y:scroll;
-moz-animation-delay:2s;
-webkit-animation-delay:2s;
position:relative;
z-index:1;
padding:20px;
background-color:#fff
}

.whois .person {
font-size:12px;
font-weight:700
}

.whois .date {
color:#b2b2b2;
font-size:11px
}

.chat-box ul li {
margin-bottom:10px
}

.chat-box ul li p {
position:relative;
padding:15px;
margin:5px 0 .5em;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
width:auto
}

.chat-box ul li.efa {
text-align:right;
margin-left:10px
}

.chat-box ul li.efa p {
background-color:#eee;
color:#333;
clear:both;
text-align:left
}

.chat-box ul li.efa p:after {
content:"";
position:absolute;
bottom:5px;
right:-26px;
border:16px solid transparent;
border-left-color:#eee;
display:block;
width:0
}

.chat-box ul li.client {
text-align:left
}

.chat-box ul li.client p {
background-color:#CF5757;
color:#fff;
clear:both
}

.chat-box ul li.client p:after {
content:"";
position:absolute;
bottom:5px;
left:-26px;
border:16px solid transparent;
border-right-color:#CF5757;
display:block;
width:0
}

.content .msg-box {
background-color:#e4e4f1;
width:100%;
height:0;
margin:0;
position:relative;
z-index:3
}

.content .msg-box.go {
height:48px;
transition:height .8s ease;
-moz-animation-delay:1s;
-webkit-animation-delay:1s;
border-top:solid 1px #ccc;
bottom:0;
left:0
}

.btn-box {
display:block;
margin:7px 0 0
}

.msg-box {
position:relative;
overflow:hidden;
height:50px
}

.msg-box .msg-me {
background-color:transparent;
width:100%;
padding:10px 75px 10px 10px;
height:50px;
border:none
}

.msg-box .btn-send {
position:absolute;
top:0;
right:0;
width:65px;
background-color:#bdbdc6;
color:#555;
height:50px;
border-radius:0;
transition:background-color .8s ease
}

.msg-box .btn-send:hover,.msg-box .btn-send:focus {
background-color:#CF5757;
color:#fff
}

.wrap.goLeft {
transform:translate(-50%,0)
}

.wrap.comeback {
transform:translate(0,0)
}

.info-box {
width:50%;
height:100%;
margin:0;
position:fixed;
top:0;
right:0;
transition:all .8s ease;
background-color:#933232;
z-index:999
}

.info-box .heading {
position:relative
}

.info-box .heading .title {
color:#fff;
margin:15px 0 0 15px;
text-transform:uppercase
}

.info-box .heading .closeme {
position:absolute;
top:-13px;
right:5px;
color:#fff;
font-size:18px;
opacity:1;
padding:15px
}

.info-box .heading .closeme:hover,.info-box .heading .closeme:focus {
opacity:.6
}

.info-box .content-body {
padding:10px 20px;
height:650px;
overflow:hidden
}

.info-box .content-body ul li {
color:#fff
}

.info-box .content-body ul li .step-no {
display:none
}

.info-box .content-body ul li h3 {
font-size:17px
}

.info-box .content-body ul li p {
font-size:13px
}

.info-box .content-body .video-description h3 {
color:#fff;
font-size:17px
}

.info-box .content-body .video-description p {
color:#fff;
font-size:13px
}

.panel-default > .panel-heading {
color:#fff;
background-color:#E06969;
border-color:transparent
}
